<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dnliu.pdms.dao.ManageMapper" >
  <insert id="insert" parameterType="Map">
    insert into tb_content(user_id, data_type, title, content1, content2, content3, content4, content5, status) 
    values(#{userId,jdbcType=BIGINT}, #{dataType,jdbcType=CHAR},#{title,jdbcType=VARCHAR},#{content1,jdbcType=VARCHAR},
    #{content2,jdbcType=VARCHAR},#{content3,jdbcType=VARCHAR},#{content4,jdbcType=VARCHAR},#{content5,jdbcType=VARCHAR}, '0')  
  </insert>

  <update id="update" parameterType="Map">
    update tb_content
    set data_type=#{dataType,jdbcType=CHAR},
    title=#{title,jdbcType=VARCHAR},
    content1=#{content1,jdbcType=VARCHAR},
    content2=#{content2,jdbcType=VARCHAR},
    content3=#{content3,jdbcType=VARCHAR},
    content4=#{content4,jdbcType=VARCHAR},
    content5=#{content5,jdbcType=VARCHAR}
    where id=#{id,jdbcType=BIGINT} and user_id=#{userId,jdbcType=BIGINT}
  </update>
  
  <update id="updateByTitle" parameterType="Map">
    update tb_content
    set 
    content1=#{content1,jdbcType=VARCHAR}
    where user_id=#{userId,jdbcType=BIGINT} and title=#{title,jdbcType=VARCHAR}
  </update>
  
  <delete id="delete" parameterType="Map">
    update tb_content set status = '1' where id=#{id,jdbcType=BIGINT} and user_id=#{userId,jdbcType=BIGINT}
  </delete>
  
  <select id="batch" parameterType="Map" resultType="Map">
    select id, title from tb_content where user_id = #{userId,jdbcType=BIGINT} and data_type=#{dataType,jdbcType=VARCHAR} and status = '0' order by update_time desc limit #{startRow},#{count}
  </select>
  
  <select id="batchAll" parameterType="Map" resultType="Map">
    select id, title from tb_content where user_id = #{userId,jdbcType=BIGINT} and data_type=#{dataType,jdbcType=VARCHAR} and status = '0' order by update_time desc
  </select>
  
  <select id="single" parameterType="Map" resultType="Map">
    select * from tb_content where id = #{id,jdbcType=BIGINT} and user_id = #{userId,jdbcType=BIGINT}
  </select>
  
  <select id="countData" parameterType="Map" resultType="Integer">
    select count(1) from tb_content where user_id=#{userId,jdbcType=BIGINT} and title=#{title,jdbcType=VARCHAR} and status = '0'
  </select>
  
  <select id="searchTitle" parameterType="Map" resultType="Map">
    select id, title from tb_content where user_id=#{userId,jdbcType=BIGINT} and status = '0' and title like concat(concat('%',#{searchStr}),'%')
  </select>

  <select id="searchAll" parameterType="Long" resultType="Map">
    select id, title, content1 from tb_content where user_id=#{userId,jdbcType=BIGINT} and status = '0'
  </select>
  
</mapper>